@*@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{

}*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jeffrey Yeh's Personal Website</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="header">
        <div class="bg-color">
            <header id="main-header">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jeffMenu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Jeffrey Yeh</a>
                        </div>
                        <div class="collapse navbar-collapse" id="jeffMenu">
                            <ul class="nav navbar-nav navbar-right navbar-border">
                                <li class="active"><a href="#main-header">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#tech">Technical Skills</a></li>
                                <li><a href="#spraypaint">Spraypaint</a></li>
                                <li><a href="#vfx">Visual Effects</a></li>
                                <li><a href="#resume">Resume</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn delay-05s">
                            <div class="banner-text">
                                <h2>Hey, I'm Jeffrey Yeh</h2><br /><br />
                                <p>Software Engineer<br />Spraypaint Artist<br />VFX Enthusiast</p>
                            </div>
                            @*<div class="overlay-detail text-center">
                                <a href="#about"><i class="fa fa-angle-down"></i></a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <section id="about" class="section-padding wow fadeIn delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-right">
                    <h2 class="title-text">
                        Meet<br><span class="deco">Jeffrey Yeh</span>
                    </h2>
                </div>
                <div class="col-md-6 text-left">
                    <div class="about-text">
                        <br />
                        <p>Hi, so kind of you to drop by my corner of the internet.</p>
                        <p>&nbsp;</p>
                        <p>My story begins after graduating from Aragon High School as my class Valedictorian.  I felt like I could do anything... until UC Berkeley showed up and beat me up.  Jokes aside, my time at Berkeley was a wonderful experience and really came to define the person I am today.</p>
                        <p>&nbsp;</p>
                        <p>Today, I am a full stack software engineer who has been working at Intel Corporation for the past few years.</p> 
                        <p>Today, I am a spraypaint artist who paints artistic gifts for his friends on old vinyl records.</p>
                        <p>Today, I am  a vfx enthusiast whose team's shortfilm won 2nd in category and the audience choice award at the 2013 Napa Valley Film Festival.</p>
                        @*<p>&nbsp;</p>*@
                        @*<ul class="abt-list">
                            <li>- Excepteur sint occaecat cupidatat non proident.</li>
                            <li>- Duis aute irure dolor in reprehenderit.</li>
                            <li>- Ask the experts.</li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tech" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">Technical Skills - <span class="deco">I'm a keyboard monkey</span></h2>
                </div>
                <div class="col-md-12">
                    <div id="myGrid" class="grid-padding">
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            ignoreme
                        </div>
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            placeholder
                        </div>
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            temp
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="spraypaint" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">Spraypaint On Vinyl - <span class="deco">I'm not a vandal, I promise</span></h2>
                </div>
                <div class="col-md-12">
                    <div id="myGrid" class="grid-padding">
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            <img src="img/vinyl_1.jpg" class="img-responsive">
                            <img src="img/vinyl_4.jpg" class="img-responsive">
                            <img src="img/vinyl_7.jpg" class="img-responsive">
                            <img src="img/vinyl_10.jpg" class="img-responsive">
                            <img src="img/vinyl_13.jpg" class="img-responsive">
                            <img src="img/vinyl_16.jpg" class="img-responsive">
                            <img src="img/vinyl_19.jpg" class="img-responsive">
                            <img src="img/vinyl_22.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            <img src="img/vinyl_2.jpg" class="img-responsive">
                            <img src="img/vinyl_5.jpg" class="img-responsive">
                            <img src="img/vinyl_8.jpg" class="img-responsive">
                            <img src="img/vinyl_11.jpg" class="img-responsive">
                            <img src="img/vinyl_14.jpg" class="img-responsive">
                            <img src="img/vinyl_17.jpg" class="img-responsive">
                            <img src="img/vinyl_20.jpg" class="img-responsive">
                            <img src="img/vinyl_23.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            <img src="img/vinyl_3.jpg" class="img-responsive">
                            <img src="img/vinyl_6.jpg" class="img-responsive">
                            <img src="img/vinyl_9.jpg" class="img-responsive">
                            <img src="img/vinyl_12.jpg" class="img-responsive">
                            <img src="img/vinyl_15.jpg" class="img-responsive">
                            <img src="img/vinyl_18.jpg" class="img-responsive">
                            <img src="img/vinyl_21.jpg" class="img-responsive">
                            <img src="img/vinyl_24.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="vfx" class="section-padding wow fadeInUp">
        <div class="container">
            <div class="row text-center">
                <h2 class="title text-center">Visual Effects - <span class="deco">I'm still waiting for those renders...</span></h2>
                <span class="deco">Napa Valley Film Festival 2013 - 2nd in Category and Audience Choice Award</span>
                <iframe width="1150" height="762" src="https://www.youtube.com/embed/ww-mW_G-oqQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section id="resume" class="section-padding wow fadeIn delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">My Resume - <span class="deco">I'm ready to work for you!</span></h2>
                </div>
                <div class="col-md-12 text-center">
                    <iframe class="resume-pdf" src="https://drive.google.com/file/d/1D-zZ5cQf_4ucWzztE0Q619a_5qKT8WfK/preview" width="650" height="840"></iframe>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer-2 text-center-xs bg--white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer">
                        © Jeffrey Yeh 2018
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="footer">
                        Wow you made it to the end, thanks for staying!
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>

</body>

</html>
